<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col col-12 align="center">
      <h1 *ngIf="!fb_login_status">Bienvenido</h1>
      <h3 *ngIf="!fb_login_status" padding>Por favor Inicia Sesión</h3>
      <h1 *ngIf="fb_login_status">Hola,</h1>
      <h2 *ngIf="fb_login_status">{{displayName}} !</h2>

      <ion-button fill="outline" expand="block" (click)="loginWithFB()">Facebook</ion-button>
      <ion-button fill="outline" expand="block" (click)="loginGoogle()">Google</ion-button>
      <ion-button fill="outline" expand="block" (click)="signOut()" *ngIf="fb_login_status">Salir</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
